{deps, [
  {mochiweb, ".*",
    {git, "git://github.com/mochi/mochiweb.git", "master"}
  },
  {simple_bridge, ".*",
    {git, "git://github.com/nitrogen/simple_bridge.git", "master"}
  },
  {ibrowse, ".*",
    {git, "git://github.com/cmullaparthi/ibrowse.git", "master"}
  },
  {rebar_efene_plugin, ".*",
    {git, "git://github.com/DavidMikeSimon/rebar_efene_plugin.git", "stable"}
  }
]}.

{erl_opts, [
  {src_dirs, ["lib"]}
]}.

{efene_first_files, [
  "lib/rec.ifn",
  "lib/import.ifn",
  "lib/spec.ifn",
  "lib/type.ifn",
  "lib/mod.ifn"
]}.

{plugins, [ rebar_efene_plugin ]}.
{plugin_dir, "deps/rebar_efene_plugin/src"}.
