{deps, [
  {mochiweb, ".*",
    {git, "git://github.com/mochi/mochiweb.git", "master"}
  },
  {simple_bridge, ".*",
    {git, "git://github.com/nitrogen/simple_bridge.git", "master"}
  },
  {ibrowse, ".*",
    {git, "git://github.com/DavidMikeSimon/ibrowse.git", "master"}
  },
  {rebar_efene_plugin, ".*",
    {git, "git://github.com/DavidMikeSimon/rebar_efene_plugin.git", "stable"}
  }
]}.

{erl_opts, [
  {src_dirs, ["lib"]}
]}.

{rebar_plugins, [ rebar_efene_plugin ]}.
