<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Efene</string>
	<key>uuid</key>
	<string>10018FAA-6819-4085-B60D-6D9623679617</string>
</dict>
</plist>
