html, div, body, span{
 margin: 0;
 padding: 0;
}

body{
 color: #333;
}

h1{
 text-align: center;
}

p{
 margin: 1em;
 text-align: justify;
}

.highlight{
 border: 1px solid #666;
 margin: 1%;
 margin-left: 15%;
 width: 70%;
 padding: 1%;
}

.langname{
 margin-left: 15%;
 margin-top: 1em;
 font-weight: bold;
}
